* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'montserratregular';
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/*-------------section delivery-------------*/


.delivery {
    background: #212121;
    color: white;
}

.delivery .container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

.delivery__title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2%;
    margin: 23px;
}

.delivery__title span {
    font-weight: normal;
}

.delivery__text {
    font-family: 'montserratlight';
    font-size: 21px;
}


/*------------section man-woman-----------*/


.man-woman .container {
    display: flex;
    flex-direction: row;
}

.man, .woman {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}

.man {
    background: url(../img/man.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 200px;
}

.woman {
    background: url(../img/woman.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 200px;
    padding-left: 35px;
}

.man-woman {
    background: linear-gradient(90deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
}

.man-woman__title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 24px;
}

.man-woman__title span {
    font-weight: normal;
}

.man-woman__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}

.man-woman__link:hover,
.man-woman__link:focus {
    background-color: #000000;
}

/*---------section new and sale------------*/

.new .container {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.title {
    font-size: 36px;
}

.btn {
    background-color: #D7B399;
    width: 220px;
    height: 55px;
    color: white;
    border: none;
    text-transform: uppercase;
}

.btn:hover,
.btn:focus {
    background-color: #000000;
}

.card {
    border: #D7B399 solid 1px;
    padding: 22px 25px 25px;
    text-align: center;

}

.card__title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 70px;
    margin-right: 70px;
}

.card__price {
    font-size: 18px;
    font-weight: 800;
    color: #D7B399;
}

.catalog {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*-------------menu-----------*/

.header {
    min-height: 800px;
    background-color: #F9F6F1;
}

.header-menu {
    min-height: 90px;
}

.section__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 35px;
    align-items: center;
    
}

.text {
    font-family: 'montserratbold';
    font-size: 24px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}