* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'montserratregular';
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/*-------------section delivery-------------*/


.delivery {
    background: #212121;
    color: white;
}

.delivery .container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

.delivery__title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2%;
    margin: 23px;
}

.delivery__title span {
    font-weight: normal;
}

.delivery__text {
    font-family: 'montserratlight';
    font-size: 21px;
}


/*------------section man-woman-----------*/


.man-woman .container {
    display: flex;
    flex-direction: row;
}

.man, woman {
    width: 50%;
}

.man {
    background: #F9F6F1;
}

.woman {
    background: #F9E0E0;
}